
body {
  

background: linear-gradient(45deg, #000850 0%, #000320 100%), radial-gradient(100% 225% at 100% 0%, #FF6928 0%, #000000 100%), linear-gradient(225deg, #FF7A00 0%, #000000 100%), linear-gradient(135deg, #CDFFEB 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
background-blend-mode: screen, overlay, hard-light, normal;

}

header {    /*header background image*/
  background-image: url(images/gradient-header.png);
  padding:10px;   /*padding*/
}


h1,h2,h3 {
font-family: 'Trebuchet MS';
text-align: center;
color:whitesmoke;

}
img {     /*created a border for my image*/
  
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  display: block;
}

img.resize {     /*made image smaller*/
    width: 300px; 
    height: 337px;  /*--height--*/
}


.filter {
  position: relative;
  -webkit-filter: contrast(120%) saturate(125%);
  filter: contrast(120%) saturate(125%);
}
.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: rgba(127, 187, 227, 0.2);
}


hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;     /*--margins--*/
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  border-top: 1px dotted rgb(230, 224, 224);
  border-bottom: 3px dotted rgb(230, 224, 224);
}

p {
font-family: 'Trebuchet MS';
text-align: left;
color:whitesmoke;

}

a {   /*anchor styling*/
  font-family: 'Trebuchet MS';
}
a:link    { color: gold; }
a:visited { color: rgb(0, 217, 255); }
a:hover   { color: rgb(0, 250, 0); }
a:active  { color: pink; }



.list-inside {  /*class to center lists*/
  list-style-position: inside;
}

.align-center{ 
  text-align: center;

}

ul{      /*unordered list styling*/
  display: inline-block;
  text-align: left;
}

ol {          /*ordered list styling*/
display: inline-block;
text-align: left; 
}

.text-style {  /*class for text styling*/
font-family: 'Trebuchet MS';     /*--font-family--*/ 
color: aliceblue;           /*--color--*/
}

.center {    /*class to center image*/
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px;    /*padding*/
}

.left {   
  text-align: left;   /*text-align left*/
}


.container {  /*class to size containers*/
  height:;
  width: 500px;
  margin-left: auto;
  margin-right: auto;

}


footer {    /*footer styling*/
  height: 80px;        /*--height--*/
  background-color:#084E59;
  font-size: 25px;   /*--font-size--*/
}
