body {
  background: linear-gradient(45deg, #000850 0%, #000320 100%),
    radial-gradient(100% 225% at 100% 0%, #ff6928 0%, #000000 100%),
    linear-gradient(225deg, #ff7a00 0%, #000000 100%),
    linear-gradient(
      135deg,
      #cdffeb 10%,
      #cdffeb 35%,
      #009f9d 35%,
      #009f9d 60%,
      #07456f 60%,
      #07456f 67%,
      #0f0a3c 67%,
      #0f0a3c 100%
    );
  background-size: 100%;
  background-blend-mode: screen, overlay, hard-light, normal;
}
header {
  /*header background image*/
  background-image: url(images/gradient-header.png);
  padding: 10px; /*padding*/
  background-size: 100%;
}

h1,
h2,
h3 {
  font-family: "Trebuchet MS";
  text-align: center;
  color: whitesmoke;
}

a {
  /*anchor styling*/
  font-family: "Trebuchet MS";
  color: gold;
}
a:visited {
  color: rgb(63, 230, 245);
}
a:hover {
  color: rgb(0, 250, 0);
}

img {
  /*created a border for my image*/

  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  display: block;
}

img.resize {
  /*made image smaller*/
  width: 300px;
  height: 337px; /*--height--*/
}

.filter {
  position: relative;
  -webkit-filter: contrast(120%) saturate(125%);
  filter: contrast(120%) saturate(125%);
}
.filter::before {
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  pointer-events: none;
  mix-blend-mode: overlay;
  background: rgba(127, 187, 227, 0.2);
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em; /*--margins--*/
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 5px;
  border-top: 1px dotted rgb(230, 224, 224);
  border-bottom: 3px dotted rgb(230, 224, 224);
}

p {
  font-family: "Trebuchet MS";
  text-align: left;
  color: whitesmoke;
}

.list-inside {
  /*class to center lists*/
  list-style-position: inside;
}

.align-center {
  text-align: center;
}

ul {
  /*unordered list styling*/
  display: inline-block;
  text-align: left;
}

ol {
  /*ordered list styling*/
  display: inline-block;
  text-align: left;
}

.text-style {
  /*class for text styling*/
  font-family: "Trebuchet MS"; /*--font-family--*/
  color: aliceblue; /*--color--*/
}

.center {
  /*class to center image*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px; /*padding*/
}

.left {
  text-align: left; /*text-align left*/
}

.container {
  /*class to size containers*/
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  margin-right: 5%;
}

.flexbox-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}

.flexbox-item {
  min-height: 200px;
  width: 300px;
  margin: 10px;
  padding: 1em;
}

.flexbox-one {
  text-align: left;
  border: 5px dashed rgb(255, 0, 76);
}

.flexbox-two {
  text-align: left;
  border: 5px dashed rgb(92, 230, 184);
}

.flexbox-three {
  text-align: left;
  border: 5px dashed goldenrod;
}

footer {
  /*footer styling*/
  height: 80px; /*--height--*/
  background-color: #084e59;
  background-size: 100%;
  font-size: 25px; /*--font-size--*/
}
