html {
  height: 100%;
}
body {
  
  background: 
    linear-gradient(45deg, #000850 0%, #000320 100%),
    radial-gradient(100% 225% at 100% 0%, #ff6928 0%, #000000 100%),
    linear-gradient(225deg, #ff7a00 0%, #000000 100%),
    linear-gradient(
      135deg,
      #cdffeb 10%,
      #cdffeb 35%,
      #009f9d 35%,
      #009f9d 60%,
      #07456f 60%,
      #07456f 67%,
      #0f0a3c 67%,
      #0f0a3c 100%
    );
  background-blend-mode: screen, overlay, hard-light, normal;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}


header {
  /*header background image*/
  font-size: 20px;
  background-image: url(images/gradient-header.png);
  padding: 10px; /*padding*/
  background-size: cover;
}

h1,
h2,
h3 {
  color: whitesmoke;
}

a {
  /*anchor styling*/
  color: gold;
}
a:visited {
  color: rgb(63, 230, 245);
}
a:hover {
  color: rgb(0, 250, 0);
}

img {
  /*created a border for my image*/

  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 5px;
  display: block;
}

img.resize {
  /*made image smaller*/
  width: 300px;
  height: 337px; /*--height--*/
}



hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(230, 222, 222, 0.75), rgba(0, 0, 0, 0));
}


p {
font-size: 18px;
  color: whitesmoke;
}

.list-inside {
  /*class to center lists*/
  list-style-position: inside;
  
}

.align-center {
  text-align: center;
}

ul {
  text-align: left;
  font-size: 18px;
  list-style-position: inside;
}

ol {
  /*ordered list styling*/
  font-size: 18px;
  list-style-position: inside;
}

.text-style {
  /*class for text styling*/
  font-family: 'Montserrat', sans-serif; /*--font-family--*/
color: aliceblue;
text-align: center;
}



.center {
  /*class to center image*/
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 10px; /*padding*/
}

.left {
  text-align: left; /*text-align left*/
}



.flexbox-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flexbox-item {
  min-height: 100px;
  width: 300px;
  margin: 10px;
  padding: 1em;
}

.flexbox-one {
  text-align: left;
  border: 5px dashed goldenrod;
  
}

.flexbox-two {
  text-align: left;
  border: 5px dashed rgb(92, 230, 184);
}

.flexbox-three {
  text-align: left;
  border: 5px dashed rgb(255, 0, 76);
}

footer {
  /*footer styling*/
  
  height: 80px; /*--height--*/
  background-color: #0000;
  font-size: 25px; /*--font-size--*/

}
